In [ ]:
## Encoding=> basically encoding means change the data numerical to categorical

In [2]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("D:\\projects\\covid_toy.csv")

In [10]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [ ]:
# ordinal Encoding

# has_covid---> ['yes' , 'no']----> [0,1]

In [15]:
import pandas as pd
import numpy as np

In [16]:
df = df.dropna()

In [17]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [21]:
df = df.drop(columns = ['age' ,'fever'])
df.head(3)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes
2   Male  Mild    Delhi        No

In [22]:
df['city'].value_counts()

city
Kolkata      29
Bangalore    28
Delhi        20
Mumbai       13
Name: count, dtype: int64

In [23]:
from sklearn.preprocessing import OrdinalEncoder

In [26]:
oe = OrdinalEncoder(categories =[['Male','Female'],
                                 ['Mild','Strong'],
                                 ['Kolkata','Bangalore','Delhi','Mumbai'],
                                 ['No','Yes']])

In [27]:
df_sc = oe.fit_transform(df)

In [28]:
df_new = pd.DataFrame(df_sc, columns = df.columns)

In [ ]:
## (3). onehotcoder-->
# column has_covid['yes','no']---> new column(yes)

In [34]:
df = pd.read_csv("D:\\projects\\covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [35]:
from sklearn.preprocessing import OneHotEncoder

In [37]:
ohe = OneHotEncoder(drop = 'first',sparse_output = False, dtype = np.int32)

df_new = ohe.fit_transform(df[['gender','cough','city','has_covid']])

In [ ]:
# df_new

get_dummies

In [38]:
df = pd.read_csv("D:\\projects\\covid_toy.csv")

In [33]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [ ]:
pd.get_dummies(df ,columns=['gender','cough','city','has_covid'], drop_first = True)